---
title: "L2 - Kolejki POSIX"
date: 2022-02-10T10:00:00+01:00
weight: 20
---

<h1>Tutorial 6 - kolejki POSIX</h1>

{{< codegrading >}}

<hr/>
<div class="dlaN">
<p>Temat kolejek jest wyraźnie mniej obszerny od tematu łączy pipe/fifo i ten tutorial jest też krótszy. Kolejki posix nie mają problemu z współdzieleniem zapisu i odczytu, z atomowością zapisu nawet dużych wiadomości, mają wyznaczone granice rekordów oraz priorytety. Wszystko to czyni ten temat względnie łatwym, trudności jakie  mogą powstać ograniczają się do notyfikacji o zdarzeniach w kolejce, ale API tych notyfikacji jest identyczne do tego co już znamy z AIO. </p>
<p>Proszę zwrócić uwagę na aspekt bardziej samodzielnego przygotowania się do zajęć na podstawie stron dokumentacji man i wykładu.</p>
<hr/>
<h2>Jak się przygotować do zajęć?</h2>

<p>Tematem przewodnim zajęć są kolejki komunikatów POSIX ale samo zadanie będzie oparte także o elementy już wcześniej przez Państwa ćwiczone, na pewno pojawią się wątki, procesy i sygnały. Ze względu na podobny mechanizm notyfikacji warto też przypomnieć sobie temat AIO (SOP1, L4).</p>

<p>Do wejściówki i zadania proszę zapoznać się z materiałami podanymi poniżej, nie czytamy całości stron man ale tylko tyle aby wiedzieć co dana funkcja robi, jakie z grubsza przyjmuję parametry i jeśli ma flagi to jak one zmieniają jej działanie. <em>Materiały przygotowawcze z poprzednich zajęć nadal obowiązują!</em>
Podane zostały całe polecenia man do wydania z konsoli:</p><ul>
<li>man 7 mq_overwiev</li>
<li>man 3p mq_open</li>
<li>man 3p mq_close</li>
<li>man 3p mq_unlink</li>
<li>man 3p mq_getattr</li>
<li>man 3p mq_setattr</li>
<li>man 3p mq_send</li>
<li>man 3p mq_receive</li>
<li>man 3p mq_notify</li>
<li>man 7  sigevent - sposób asynchronicznej notyfikacji o wiadomościach w kolejce jest identyczny jak w przypadku aio</li>
<li>Kolejki POSIX wymagają librt podczas linkowania !!!</li>
<li>Jeśli otwieramy istniejącą kolejkę to mogą się w niej znajdować jakieś dane! Nie wolno zakładać, że taka kolejka jest pusta. Jeśli chcemy aby była pusta to można ją usunąć przed ponownym utworzeniem.</li>
</ul>
</div>
<h2>Przykład: Bingo!</h2>
<p>Napisz program, który symuluje prosty wariant gry w BINGO. Losującym liczby jest proces rodzic, graczami jego procesy potomne. Cała komunikacja pomiędzy nimi odbywa się przez kolejki komunikatów POSIX. Proces rodzic tworzy n procesów potomnych (0&lt;n&lt;100, gdzie <em>n</em> to parametr programu) oraz dwie kolejki komunikatów. Pierwsza kolejka <em>pout</em> służy do przekazywania co 1sek.  liczb losowanych z przedziału [0,9] do procesów potomnych, druga <em>pin</em> do odbierania  od procesów potomnych informacji o wygranej lub zakończeniu gry.</p>

<p>Procesy potomne na początek losują swoją liczbę oczekiwaną (wygrywającą) <em>E</em> [0,9] oraz ilość liczb jakie odczytują <em>N</em> [0,9] z kolejki. Następnie cyklicznie  konkurują o dostęp do danych w kolejce <em>pout</em> -  jedna wysłana liczba może być odebrana tylko przez jeden proces a nie przez wszystkie naraz. Procesy potomne odczytaną z pout liczbę  porównują do swojej liczby <em>E</em> i jeśli jest to ta sama liczba to poprzez drugą kolejkę <em>pin</em> przekazują informację o jej wartości poczym się kończą. Po wykonaniu  <em>N</em>  sprawdzeń proces potomny przed zakończeniem wysyła przez kolejkę <em>pin</em> swój numer  porządkowy (z przedziału 1..n).</p>

<p>Proces rodzicielski cały czas, asynchronicznie względem wysyłania liczb, ma odbierać  komunikaty z <em>pin</em> i wyświetlać odpowiednie treści na ekran. Gdy wszystkie procesy potomne się skończą proces rodzic też się kończy i usuwa kolejki. </p>

<p><b>Rozmiar komunikatów w kolejce jest ograniczony do 1 bajtu!</b></p>

<p>
<em>Rozwiązanie: <b>mq_example.c</b></em>
{{< includecode "mq_example.c" >}}

<div class="dlaN"><ol>
<li>Zwróć uwagę na użycie wskaźnika przesyłanego z sygnałem, nieco inny jest prototyp funkcji obsługi sygnału (ma dodatkowy parametr siginfo_t*) , podczas instalowania obsługi użyto flagi SA_SIGINFO  aby przesłanie wskaźnika było możliwe. Warto zauważyć, że nie wysyłamy sami takiego sygnału, dostajemy go jako notyfikację zdarzenia w kolejce. Funkcją <em>kill</em> nie możemy wysłać  wskaźnika można to zrobić jedynie funkcją <em>sigqueue</em>.</li>
<li>Do przesyłania liczb wykorzystano typ uint8_t (stdint.h), czyli jednobajtowa liczba bez znaku o zakresie dopuszczalnych wartości 0-255. Typy całkowite o precyzyjnie podanym rozmiarze (np. int32_t) są bardziej przenośne niż typy bazowe takie jak np. int który może mieć różne zakresy poprawnych wartości na różnych platformach.</li>
<li>W programie występuje obsługa sygnałów więc konieczna jest ochrona przed przerwaniami sygnałem np. za pomocą TEMP_FAILURE_RETRY. Makra te zostały dodane w całym kodzie chociaż zagrożony przerwaniem jest tylko kod procesu rodzica bo tylko on dostaje notyfikacje o stanie kolejki. Dodawanie zabezpieczeń przed przerwaniem funkcji obsługą sygnałem nie spowalnia istotnie kodu za to czyni go dużo lepiej przenośnym. </li>
<li>Ustawienia notyfikacji na kolejce są jednokrotne tzn. po odebraniu notyfikacji nie spodziewamy się kolejnych o ile nie wywołamy po raz kolejny <em>mq_notify</em>. Notyfikacja zadziała tylko wtedy gdy kolejka przejdzie ze stanu pustego w niepusty. Tylko jeden proces może być  zarejestrowany do notyfikacji. </li>
</ol>
</div>
<div class="cwiczenie"><ol>
<li>W kodzie procesu rodzica brak ochrony przed przerwaniem w jednym wywołaniu, którym?  Dlaczego tam ochrona taka nie jest konieczna? <br/>
{{< answer >}} Chodzi o wywołanie mq_receive w funkcji obsługi sygnału, nie spodziewamy się przerwania funkcji obsługi sygnału obsługiwanym sygnałem gdyż domyślnie na czas tej obsługi sygnał ten jest blokowany.  {{< /answer >}}</li>
<li>Jak zrealizowane jest zliczanie procesów potomnych?<br/>
{{< answer >}} Zliczane są skuteczne wywołania waitpid w funkcji obsługi SIGCHLD, nie sygnały SIGCHLD bo te się mogą sklejać. Licznik aktywnych procesów potomnych jest zmienną globalną.  {{< /answer >}}</li>
<li>Czemu podczas  odebraniu sygnału najpierw instalujemy/restartujemy notyfikację, a dopiero później czytamy z kolejki?<br/>
{{< answer >}} Gdyby było odwrotnie to po przeczytaniu wiadomości z kolejki (możliwe że kilku) a tuż przed założeniem notyfikacji mogłoby się coś w kolejce pojawić a ponieważ powiadomienia są wysyłane tylko gdy w pustej kolejce się coś pojawi to nie mielibyśmy szans już nic odczytać bo nasza kolejka w momencie instalowania notyfikacji coś już zawierała. Jeśli natomiast zrobimy tak jak w przykładzie to po zainstalowaniu notyfikacji i przeczytaniu tego co się w kolejce znajduje na pewno mamy kolejkę pustą z włączoną notyfikacją, jeśli teraz coś się w kolejce znajdzie dostaniemy notyfikację. {{< /answer >}}</li>
<li>Czemu jedna z kolejek jest w trybie nie blokującym?<br/>
{{< answer >}} Kolejka pin jest w stanie nieblokującym ze względu na powyższy punkt. Gdyby mogła się blokować to po odczytaniu ostatniej wiadomości program zablokował by się wewnątrz asynchronicznej obsługi sygnału co byłoby dużym błędem.  {{< /answer >}}</li>
<li>Jak są wykorzystane priorytety wiadomości i jak to się ma do limitu 1 bajtu długości wiadomości?<br/>
{{< answer >}} W tym programie priorytety nie służą do uszeregowania kolejności ale jako wyznaczniki typu inforamcji. Zmusza nas do tego krótki jednobajtowy rozmiar wiadomości, trudno (choć się da) poza liczbą zakodować tam jeszcze informację czy chodzi o wygraną czy zakończenie gry, ta informacja jest zawarta właśnie w priorytecie. {{< /answer >}}</li>
<li>W ramach dalszych ćwiczeń można przerobić ten program tak aby  notyfikacją odbywała się nie sygnałem a wątkiem.</li>
<li>Można też uprościć program, zamiast notyfikacji stworzyć wątek dedykowany tylko do odczytu z kolejki, wykonaj taką modyfikację jako ćwiczenie.</li>
<li>Spora część logiki programu "wylądowała" w funkcji obsługi sygnału, było to możliwe bo nie ma zależności pomiędzy kodem wysyłającym liczby oraz tym odbierającym notyfikacje, ale zadanie łatwo można skomplikować w taki sposób aby ta zależność była. Jako ćwiczenie przenieś całą logikę związaną z odbiorem wiadomości do kodu właściwego rodzica (czyli poza asynchroniczne wywołanie funkcji obsługi sygnału).</li>
</ol>
</div>
<h2>Ćwiczenie</h2>
<p class="cwiczenie">
Wykonaj przykładowe <a href="{{< ref "../l2-example">}}">ćwiczenie</a> z poprzednich lat. To zadanie szacuję na 90 minut, jeśli wyrobisz się w tym czasie to znaczy, że jesteś dobrze przygotowany/a  do zajęć.  Możesz się spodziewać zadania o zbliżonej pracochłonności.
</p>

<h2>Kody źródłowe z treści tutoriala</h2>
{{% codeattachments %}}
