---
title: "L3 - gniazda sieciowe i pselect"
date: 2022-02-01T19:51:45+01:00
weight: 30
---

{{< codegrading >}}

<div class="dlaN">
Uwagi wstępne:
<ol>
<li><strong>W trakcie tych zajęć przydatny jest <a href="{{< ref "../netcat" >}}">program netcat</a></strong></li>
<li>Obowiązują wszystkie materiały z SOP1 i SOP2 jakie były do tej pory, szczególnie ważne są te dotyczące wątków i procesów!</li>
<li>Szybkie przejrzenie tutoriala prawdopodobnie nic nie pomoże, należy samodzielnie uruchomić programy, sprawdzić jak działają, poczytać materiały dodatkowe takie jak strony man. W trakcie czytania sugeruję wykonywać ćwiczenia a na koniec przykładowe zadanie.</li>
<li>Na żółtych polach podaję dodatkowe informacje, niebieskie zawierają pytania i ćwiczenia. Pod pytaniami znajdują się odpowiedzi, które staną się widoczne dopiero po kliknięciu. Proszę najpierw spróbować sobie odpowiedzieć na pytanie samemu a dopiero potem sprawdzać odpowiedź.</p>
<li>Pełne kody do zajęć znajdują się w załącznikach na dole strony. W tekście są tylko te linie kodu, które są konieczne do zrozumienia problemu.</li>
<li>Materiały i ćwiczenia są ułożone w pewną logiczną całość, czasem do wykonania ćwiczenia konieczny jest stan osiągnięty poprzednim ćwiczeniem dlatego zalecam wykonywanie ćwiczeń w miarę przyswajania materiału.</li>
<li>Większość ćwiczeń wymaga użycia konsoli poleceń, zazwyczaj zakładam, ze pracujemy w jednym i tym samym katalogu roboczym więc wszystkie potrzebne pliki są "pod ręką" tzn. nie ma potrzeby podawania ścieżek dostępu.</li>
<li>Czasem podaję znak $ aby podkreślić, że chodzi o polecenie konsolowe, nie piszemy go jednak w konsoli np.: piszę "$make" w konsoli wpisujemy samo "make".</li>
<li>To co ćwiczymy wróci podczas kolejnych zajęć. Jeśli po zajęciach i teście coś nadal pozostaje niejasne proszę to poćwiczyć a jeśli trzeba dopytać się u prowadzących.</li>
<hr/>
<li>W wielu miejscach w kodzie dodano obsługę przerwania sygnałem (makro TEMP_FAILURE_RETRY), nawet jeśli w danym programie to nie ma uzasadnienia bo brak w nim obsługi sygnałów. Duża część prezentowanego kodu będzie przez studentów przenoszona do ich rozwiązań, zwłaszcza gotowe funkcję biblioteczne,  w których to rozwiązaniach mogą się pojawiać sygnały. Jest to zabieg zwiększający przenośność kodu.</li>
<li>Podczas planowania w jakiej postaci dane będą przesyłane przez sieć bardzo ważne jest aby zawsze pamiętać o tym, że komunikują się programy działające (być może) na różnych architekturach sprzętowych, trzeba mieć wzgląd na następujące kwestie:<ul>
<li>byte order - czyli w jakiej kolejności w pamięci są przechowywane liczby całkowite, jeśli przesyłamy liczby binarnie pomiędzy programami działającymi na różnych architekturach to zmiana tej kolejności będzie katastrofalna, równoznaczna ze zmianą liczby, np: 0x00FF zmienia się nam na 0xFF00! Nie musimy znać byte orderu architektury na której działamy, wystarczy pamiętać o zasadzie, że do sieci wysyłamy wszystkie liczby całkowite zakodowane w tzw. network byte order. Do konwersji do tej postaci mamy makra htons i htonl (dla 16 bitowego shorta i 32 bitowego integera). Po odebraniu danych z sieci następuje odwrotna konwersja z byte orderu sieciowego na lokalny, makra ntohs i ntohl.</li>
<li>Nie ma uniwersalnego kodowania dla liczb zmiennopozycyjnych, różne mogą być ich implementacje na różnych platformach więc albo musimy przesłać je jako tekst lub jako liczby o ustalonej precyzji (czyli jako liczby całkowite tak naprawdę).</li>
<li>Pamiętamy oczywiście, że problem byte order nie dotyczy danych jedno-bajtowych w tym przede wszystkim tekstu. Przesłanie danych w formie tekstowej jest prawie zawsze poprawnym rozwiązaniem.</li>
<li>Różne mogą być rozmiary typów int,short czy long na różnych architekturach. Aby uniknąć problemów najlepiej jest używać typów o ustalonym wymiarze takich jak np.: int32_t czy uint16_t</li>
<li>Niezbyt wygodne będzie też przesyłanie struktur ze względu na różne ułożenie ich pól w pamięci na różnych platformach . Występują różne przerwy pomiędzy polami wynikające z optymizacji adresowania  - adresy podzielne przez różne zależne od architektury potęgi 2 są szybciej pobierane z pamięci.  Aby to obejść, należy zadbać aby kompilator nie optymizował tych struktur tylko "pakował" je bez żadnych przerw. Nie zawsze da się to osiągnąć z poziomu kodu, zazwyczaj konieczne są dyrektywy kompilatora co czyni to rozwiązanie mniej przenośnym. Jak się da to unikamy przesyłania całych struktur binarnie, możemy przesyłać strukturę pole po polu. </li>

</ul></li>
</ol>
</div>
<p>
<em><b>Makefile wspólny dla wszystkich zadań w tym tutorialu</b>:</em>
<pre>
CC=gcc
CFLAGS= -std=gnu99 -Wall
</pre>

<h2>Agenda:</h2>
                                <ol>
                                    <li><a href="#task1_part1">Zadanie local+tcp, etap 1</a></li>
                                    <li><a href="#task1_part2">Zadanie local+tcp, etap 2</a></li>
                                    <li><a href="#task2">Zadanie udp</a></li>
                               </ol>


 <hr/>
<h3>ZADANIE LOCAL+TCP</h3>
<p>Napisz prosty sieciowy kalkulator liczb całkowitych. Dane przesyłane pomiędzy klientami a serwerem mają postać:<ul>
   <li>operand 1</li>
   <li>operand 2</li>
   <li>wynik</li>
   <li>operator (+,-,*,/)</li>
  <li>status</li></ul>
Wszystko przekonwertowane do postaci 32 bitowych liczb w tablicy.</p>
<div class="cwiczenie">
<ol>
<li>Czemu nie struktura? <br>
{{< answer >}} Struktury bez pakowania są mniej przenośne ze względu na optymizację adresacji pamięci - różne przerwy pomiędzy polami, w tym przypadku łatwiej wyślemy tablice, która nie ma tej przypadłości co struktura. {{< /answer >}} </li>
</ol>
</div>

<p>Serwer wylicza wynik i odsyła go do klienta. Jeśli wyliczenie przebiegło pomyślnie pole status przyjmuje wartość 1, jeśli nie (np. dzielenie przez zero) wartość 0. Komunikacja z serwerem jest możliwa na 2 sposoby:<ul>
  <li>gniazda lokalne</li>
  <li>gniazda sieciowe tcp</li>
</ul></p>
<p>Serwer ma być jednoprocesowy i jednowątkowy, przyjmuje następujące argumenty:<ul>
  <li>nazwa lokalnego gniazda</li>
  <li>port</li>
</ul></p>	
<p>Należy napisać 2 programy klientów, po jednym dla każdego typu połączenia, programy te pobierają następujące parametry:<ul>
  <li>adres gniazda serwera (nazwa domenowa dla tcp, nazwa pliku specjalnego dla połączenia lokalnego)</li>
  <li>numer portu</li>
  <li>operand 1</li>
  <li>operand 2</li>
  <li>operator (+,-,*,/)</li></ul>
Jeśli wyliczenie się uda należy wyświetlić wynik. </p>
<p>Wszystkie 3 programy można przerwać C-c, nie wolno po sobie zostawiać pliku połączenia lokalnego.</p>
<hr/>		
<h3 id="task1_part1">Etap 1</h3>
<p>
Cel:
<ol>
<li>Serwer akceptuje połączenia lokalne</li>
<li>Klient do połączeń lokalnych</li>
</ol>
<br/ >Co student musi wiedzieć:
<ul>
      <li>man 7 socket</li>
       <li>man 7 unix</li>
      <li>man 3p socket</li>
      <li>man 3p bind</li>
      <li>man 3p listen</li>
      <li>man 3p connect</li>
      <li>man 3p accept</li>
      <li>man 3p pselect</li>
</ul>
</p>
<p>
<em>rozwiązanie <b>prog23a_s.c</b>:</em>
{{< includecode "prog23a_s.c" >}}
<em>rozwiązanie <b>prog23_local.c</b>:</em>
{{< includecode "prog23_local.c" >}}
Uruchomienie: <pre>
$ ./prog23a_s a 2000&
$ ./prog23_local a 2 1 +
$ ./prog23_local a 2 1 '*'
$ ./prog23_local a 2 0 /
$ killall -s SIGINT prog23a_s</pre>
</p>
<div class="dlaN">
<ol>
<li>Zwróć uwagę, że funkcje make_socket i bind_socket, connect_socket i add_new_cleint  nadają się do biblioteki. Ich działanie powinno być oczywiste. Schemat nawiązania połączenia sieciowego był omówiony na wykładzie.</li>
<li>Może zastanawiać czemu stała BACKLOG jest ustalona na 4 a nie 5, 7 czy 9? To może być dowolna mała liczna, to tylko wskazówka dla systemu, ten program nie będzie obsługiwał dużego ruchu i kolejka czekających połączeń nie będzie nigdy duża, w praktyce połączenia są tu od razu realizowane. Przy większym ruchu trzeba empirycznie sprawdzać jaka wartość tego parametru dobrze się spisze i niestety będzie ona inna na różnych systemach. </li>
<li>W programie używamy makra SUN_LEN, czemu nie sizeof? Oba rozwiązania działają poprawnie. Warto wiedzieć, że użycie zwykłego sizeof zwróci większy rozmiar niż makro a to dlatego, że rozmiar liczony przez makro to suma pól struktury (czyli typ i string) a rozmiar podany przez sizeof dodaje jeszcze kilka bajtów przerwy pomiędzy tymi polami. Implementacja oczekuje mniejszej z tych dwóch wartości ale podanie większej nic nie zepsuje ponieważ sam adres jest w postaci ciągu znaków zakończonego zerem. Co zatem wybrać? W materiałach wybieramy zgodność ze standardem czyli makro zatem oszczędzamy te kilka bajtów kosztem nieco dłuższego wyliczania rozmiaru. Jeśli użyjesz sizeof to nie będzie to traktowane jako błąd.</li>
<li>Dość nietypowy kod po wywołaniu funkcji connect wynika z faktu, że standard POSIX mówi, że nawiązanie połączenia sieciowego nie może być przerwane (co jest dość logiczne ponieważ biorą w nim udział dwie strony). Zatem jeśli funkcja obsług sygnału przerwie connect to tak naprawdę jego nawiązywanie nadal trwa asynchronicznie względem głównego kodu. Próba restartu funkcji np. makrem TEMP_FAILURE_RETRY nie jest już możliwa (spowoduje błąd EALREADY). Pozostaje nam jedynie poczekać aż połączenie będzie nawiązane, ale jak się o tym dowiemy? Deskryptor gniazda będzie w stanie zaakceptować zapis. Zatem przy pomocy funkcji select czekamy na możliwość zapisu do gniazda aby wiedzieć że połączenie jest otwarte. Co jeśli połączenie się nie uda? Select się zakończy a o błędach połączenia dowiemy się dzięki wywołaniu funkcji getsockopt, która z podanymi w kodzie stałymi zwraca tzw. network pending errors, czyli właśnie informację o ewentualnej porażce. Bez tego sprawdzenia, o błędzie dowiedzielibyśmy się  dopiero podczas próby komunikacji przez to gniazdo sieciowe.</li>

<li>Można od razy zażyczyć sobie asynchronicznego połączenia, wystarczy przed wywołaniem connect ustawić na deskryptorze gniazda flagę O_NONBLOC. Nawiązywanie połączenia jest dość czasochłonne i jest to sposób aby w czasie oczekiwania program mógł coś wykonać.</li>

<li>W programie przepływ danych jest trywialny, klient łączy się, wysyła zapytanie i od razy dostaje odpowiedź po czym się rozłącza. Możliwe są oczywiście znacznie bardziej złożone scenariusze wymiany komunikatów (protokoły).</li>
<li>W danym momencie komunikacji pomiędzy programami to co zostało przesłane wcześniej tworzy "kontekst" dla tego co wysyłamy. W zależności od protokołu, kontekst może być bardziej lub mniej złożony. W tym programie zapytanie jest kontekstem dla odpowiedzi, czyli odpowiedź wynika z kontekstu komunikacji (pytania).</li>

<li>Warto zapytać czemu służą makra ntohl i htonl użyte do konwersji byte orderu liczb skoro połączenie jest lokalne? W tym programie sporo kodu w drugim etapie będzie współdzielone z połączeniem sieciowym tcp, które takiej konwersji wymaga. Połączeniu lokalnemu taka konwersja nie przeszkadza. Warto też dodać, że nic w standardzie POSIX nie zabrania aby powstały w przyszłości gniazda lokalne działające na sieciowym systemie plików, czyli takie które będą tej konwersji jednak wymagać, nasz program jest na to gotowy.</li>

<li>W kodzie używana jest funkcja bulk_read, trzeba wiedzieć, że w takiej postaci jak powyżej ta funkcja nie potrafi sobie poradzić z deskryptorem w trybie nieblokującym - zwróci błąd EAGAIN. Czy w tym przypadku mamy taki deskryptor? Nowo otwarte (przez f. accept) połączenie dostaje  nowy deskryptor, jego flagi nie muszą być dziedziczone (na Linuksie nie są) z deskryptora gniazda nasłuchującego. W tym programie nie będzie problemu bo wiemy, że dane już czekają na odbiór i pod Linuksem mamy tryb blokujący ale warto może przerobić funkcję bulk_read tak aby czekała na dane gdy gniazdo jest w trybie nieblokującym.</li>

</ol></div>

<div class="cwiczenie">
<ol>
<li>Jak po uruchomieniu serwera można podejrzeć plik gniazda? <br>
{{< answer >}} $ls -l a  {{< /answer >}}</li>
<li>Czym jest w programie wywołanie pselect?<br/>
{{< answer >}} Jest punktem w którym program czeka na dostępność danych na wielu deskryptorach oraz na nadejście sygnału SIGINT {{< /answer >}}</li>
<li>Czy można użyć tu select a zamiast pselect?<br/>
{{< answer >}} Można ale nie warto bo dodanie poprawnej obsługi SIGINT będzie wtedy bardziej pracochłonne {{< /answer >}}</li>
<li>Skoro czekamy tylko na połączenie na jednym deskryptorze to może warto pozbyć się pselect zupełnie?</br>
{{< answer >}} Nie warto, bo za chwilę w drugim etapie dodamy czekanie na drugim deskryptorze, dodatkowo implementacja prawidłowej obsługi sygnału SIGINT będzie pracochłonna. {{< /answer >}}</li>
<li>Czemu gniazdo sieciowe jest w trybie nieblokującym? <br/>
{{< answer >}} Bez tego trybu mogłoby się zdarzyć, że klient który chce się połączyć "zginie" pomiędzy select, które potwierdzi gotowość do połączenia a accept, które faktycznie przyjmie to połączenie. Wtedy na nieblokującym gnieździe program zatrzymałby się aż do nadejścia kolejnego połączenia nie reagując na sygnał SIGINT. {{< /answer >}}</li>
<li>Czemu użyto int32_t (stdint.h) a nie  zwykły int?<br/> 
{{< answer >}} Ze względu na różne rozmiary int'a  na różnych architekturach co stanie się ważne w 2 etapie. {{< /answer >}}</li>
<li>Czemu ignorujemy SIGPIPE w serwerze?<br/>
{{< answer >}} Łatwiej obsłużyć błąd EPIPE niż sygnał, zwłaszcza, że informacja o przedwczesnym zakończeniu się klienta nie może prowadzić do zamknięcia serwera. {{< /answer >}}</li>
<li>Czy musimy ignorować SIGPIPE w kliencie ? <br/>
{{< answer >}} Nie, robimy to "na zapas", błąd EPIPE w kliencie i tak traktujemy jako krytyczny, klient bez serwera nie może działać dalej zatem gdyby nie ignorować SIGPIPE program kończyłby się i tak tylko że zabity sygnałem. {{< /answer >}}</li>
<li>Czemu w programie użyto bulk_read i bulk_write? Nie ma obsługi sygnałów poza SIGINT, który i tak kończy działanie programu. <br/>
{{< answer >}} Z tego samego powodu dla którego tak często EINTR jest obsłużony - przenośność kodu do innych rozwiązań. {{< /answer >}}</li>
<li>Czemu służy unlink w kodzie serwera? <br/>
{{< answer >}} Usuwamy gniazdo lokalne tak samo jak usuwamy plik -  funkcja porządkowa. {{< /answer >}}</li>
</ol>
</div>

<hr/>		
<h3 id="task1_part2">Etap 2</h3>
<p>
Cel:
<ol>
<li>Serwer akceptuje połączenia sieciowe TCP</li>
<li>Klient sieciowy TCP</li>
</ol>
<br/ >Co student musi wiedzieć:
<ul>
      <li>man 7 tcp</li>
     <li>man 3p freeaddrinfo (obie funkcje, getaddrinfo też)</li>
     <li>man 3p gai_strerror</li>
</ul>
</p>
<p>
<em>rozwiązanie <b>prog23b_s.c</b>:</em>
{{< includecode "prog23b_s.c" >}}
<em>rozwiązanie <b>prog23_tcp.c</b>:</em>
{{< includecode "prog23_tcp.c" >}}
Uruchomienie: <pre>
$ ./prog23b_s a 2000&
$ ./prog23_tcp localhost 2000 234 17  /
$ ./prog23_local a 2 1 '*'
$ killall -s SIGINT prog23b_s
</pre>Dobierzcie się w pary, podajcie sobie swoje nazwy hosta (są w linii komend, np: p21804), niech każdy uruchomi serwer a potem wyśle zapytanie do sąsiada:<pre>
$ ./prog23b_s a 2000 &
$ ./prog23_tcp p21804 2000  2 2  +
...
$ killall -s SIGINT prog23b_s
</pre>
</p>
<div class="dlaN">
<ol>
<li>Zwróć uwagę na rozwinięcie funkcji obsługi połączenia make_socket, bind_local_socket, bind_tcp_socket tak aby objąć też TCP, klient TCP ma także przydatne funkcje make_socket i make_address, inne niż w kliencie lokalnym które warto włączyć do biblioteki własnych funkcji.</li>
<li>Obowiązuje Państwa użycie funkcji getaddrinfo, starsza funkcja gethostbyname  jest w dokumentacji oznaczona jako przestarzała i ma nie być używana w pracach studenckich.</li>
</ol></div>
<div class="cwiczenie"><ol>
<li>Czemu służy opcja gniazda SO_REUSEADDR? <br/>
{{< answer >}} Dodanie tej opcji pozwala na szybkie ponowne wykorzystanie tego samego portu serwera, jest to ważne gdy chcemy szybko poprawić jakiś błąd w kodzie i ponownie uruchomić program. Bez tej opcji system blokuje dostęp do portu na kilka minut. {{< /answer >}}</li>
<li>Czy powyższa opcja nie naraża nas na błędy komunikacji wynikające z możliwości otrzymania jakichś pozostałości po poprzednim połączeniu?<br/>
{{< answer >}} Nie, protokół tcp jest na takie "śmieci" uodporniony. Gdyby połączenie było typu udp wtedy odpowiedź byłaby twierdząca. {{< /answer >}}</li>
<li>Co to za adres INADDR_ANY i czemu jest często używany jako adres lokalny?
{{< answer >}} To adres specjalny postaci 0.0.0.0, który ma szczególne znaczenie w adresacji. Oznacza dowolny adres. Jeśli gniazdu serwera (nasłuchującemu) damy taki adres to oznacza, że jakiekolwiek połączenie nadejdzie do serwera, niezależnie jak zaadresowane to będzie przyjęte. To oczywiście nie oznacza, że przechwycimy wszystkie połączenia  w sieci, to oznacza, że nie jest ważne jaki adres w sieci ma serwer (może mieć nawet kilka) jeśli tylko ustawienia sieci spowodują, że połączenie będzie kierowane na dany serwer to nasz program na nim będzie mógł je przyjąć <em>nie znając swojego faktycznego lokalnego adresu!</em>  {{< /answer >}}</li>
<li>Przeanalizuj jak został w serwerze rozwinięty pselect aby obsłużyć drugi typ połączenia. Zwrócić uwagę, że dodanie TCP w serwerze wymagało tylko dodania kodu nawiązania połączenia, reszta jest ta sama.</li>
<li>Kod klienta jest bardzo podobny do klienta lokalnego, jako ćwiczenie proponuję zintegrowanie tych kodów do jednego programu z przełącznikiem -p local|tcp</li>
</ol>
</div>

<hr/>		
<h3 id="task2">Zadanie 2 - UDP</h3>
<p>
Cel:
<p> Napisz dwa programy pracujące w architekturze klient-serwer poprzez
	połączenie UDP. Zadanie programu klienta polega na wysłaniu pliku
	podzielonego na datagramy. Zadanie programu serwera polega na
	odbieraniu plików przesyłanych przez socket i wypisywaniu ich na
	ekran (bez informacji o pliku z którego dane pochodzą).</p>

	<p>Każdy wysłany do serwera pakiet musi być potwierdzony odpowiednim
	komunikatem zwrotnym, w razie braku takiego zwrotnego komunikatu
	(czekamy 0,5s) należy ponawiać wysłanie pakietu. W razie 5 kolejnych
	niepowodzeń program klienta powinien zakończyć działanie. Potwierdzenia
	też mogą zaginąć w sieci, ale program powinien sobie i z tym radzić -
	serwer nie może dwa razy wypisać tego samego fragmentu tekstu.</p>

	<p>Wszystkie dodatkowe dane (wszystko poza tekstem z pliku) przesyłane
	między serwerem i klientem mają mieć postać liczb typu int32_t.  Należ
	przyjąć, że rozmiar przesyłanych jednorazowo danych (tekst z pliku i
	dane sterujące)  nie może przekroczyć 576B. Naraz serwer może odbierać
	maksymalnie 5 plików, 6 jednoczesna transmisja ma być zignorowana.</p>

	<p>Program serwer jako parametr przyjmuje numer portu na którym będzie
	pracował, program klient przyjmuje jako parametry adres i port serwera
	oraz nazwę pliku.</p>

<br/ >Co student musi wiedzieć:
<ul>
      <li>man 7 udp</li>
       <li>man 3p sendto</li>
       <li>man 3p recvfrom</li>
       <li>man 3p recv</li>
       <li>man 3p send</li>
</ul>
</p>
<p>
<em>rozwiązanie <b>prog24s.c</b>:</em>
{{< includecode "prog24s.c" >}}
<em>rozwiązanie <b>prog24c.c</b>:</em>
{{< includecode "prog24c.c" >}}
</p>

<div class="dlaN"><ol>
<li>Zwróć uwagę, że w protokole UDP nie nawiązujemy połączenia, gniazda komunikują się ze sobą "ad hoc". Nie ma gniazda nasłuchującego. Możliwe są straty, duplikaty i zmiany kolejności datagramów.</li>
<li>W przykładzie występują kolejne przydatne do biblioteki wariacje funkcji: make_socket, bind_inet_socket, ponieważ mają te same nazwy co funkcje użyte w poprzednim zadaniu trzeba je inaczej ponazywać.</li>
</ol></div>
<div class="cwiczenie"><ol>
<li> W tym zadaniu  kontekst połączenia jest ważny i wymaga wysiłku aby go utrzymać. Co jest kontekstem połączenia?<br/>
{{< answer >}} Kontekstem jest ilość poprawnie przesłanych pakietów do danej chwili. {{< /answer >}}</li>
<li>Jakie dane są przesyłane w pojedynczym datagramie? Czemu służą przesyłane metadane?</br>
{{< answer >}} Pakiet składa się z (1) 32 bitowego numeru fragmentu, (2) 32 bitowej informacji czy to ostatni fragment oraz (3) z fragmentu pliku. Metadane służą do kontroli kontekstu (1) oraz do zakończenia transmisji (2).   {{< /answer >}}</li>
<li>Czemu i na jakich deskryptorach są używane funkcje bulk_read i bulk_write, czy nie powinno się rozszerzyć tego użycia na wszystkie deskryptory?/br>
{{< answer >}}  Funkcje są potrzebne do restartowania read i write  w sytuacji przerwania w trakcie operacji IO ( w odróżnieniu od EINTR czyli przerwania przed operacją). Funkcje te są używane tylko do działań na plikach ponieważ przesyłanie datagramów jest ATOMOWE i nie może być przerwane w trakcie. W tym programie występuje obsługa sygnałów ale tam gdzie się ich spodziewamy nie dokonujemy operacji na plikach. To zabezpieczenie jest nadmiarowe, dodane z myślą o przenoszeniu tego kodu do innych programów.  {{< /answer >}}</li>
<li>Czy może wystąpić sytuacja zerwania połączenia? Czy nie powinniśmy tego rozpoznawać?<br/>
{{< answer >}} Nie może, udp nie wytwarza połączenia, które mogłoby być zerwane. {{< /answer >}}</li>
<li>Przeanalizuj jak działa findIndex w serwerze, zwłaszcza jak są porównywane adresy. W jakim byte orderze są? Jak zachowa się ta funkcja jeśli adres jest nowy? <br/>
{{< answer >}} Porównywane adresy są w byte order sieci, nie mamy potrzeby ich konwertować skoro jedynie je porównujemy a nie np. wyświetlamy. Funkcja dla nowego adresu zakłada nowy rekord (o ile ma jeszcze wolne miejsce w tablicy). {{< /answer >}}</li>
<li>Jak sobie poradzimy z duplikatami datagramów?<br/>
{{< answer >}} Trzymamy tablice stanu połączeń "struct connections", wiemy, który fragment już wypisaliśmy i nie powtarzamy go. {{< /answer >}}</li>
<li>Jak sobie poradzimy, z odwrotną kolejnością datagramów, czyli gdy otrzymamy fragment dalszy niż aktualnie oczekiwany?<br/>
{{< answer >}} Odwrócenie nie  może się zdarzyć, bo klient nie prześle dalszych części dopóki nie potwierdzimy wcześniejszych. {{< /answer >}}</li>
<li>Jak sobie poradzimy z ginącymi pakietami ?<br/>
{{< answer >}} Obsługuje to retransmisja po stronie klienta. {{< /answer >}}</li>
<li>Co się stanie jeśli zaginie potwierdzenie pakietu a nie sam pakiet?<br/>
{{< answer >}} Klient uzna, że pakiet nie dotarł i prześle go ponownie. Serwer nie wyświetli pakietu drugi raz ale odeśle potwierdzenie po raz kolejny.  {{< /answer >}}</li>
<li>Co zawierają potwierdzenia?<br/>
{{< answer >}} Odsyłamy to co dostaliśmy, cały pakiet bez zmiany. {{< /answer >}}</li>
<li>Jak jest zaimplementowany timeout na odpowiedź od serwera? <br/>
{{< answer >}} W funkcji sendAndConfirm najpierw ustawiamy alarm na 0.5 sekundy (setitimer) następnie program stara się odebrać potwierdzenie. Brak restartu funkcji recv makrem nie  jest przypadkowy, po ew. przerwaniu musimy móc sprawdzić czy to nie był oczekiwany timeout.  {{< /answer >}}</li>
<li>Czemu konwertujemy tylko byte order numeru fragmentu i znacznika ostatniego elementu a reszta danych nie jest odwracana?<br/>
{{< answer >}} Tylko te dwie dane są przesyłane jako liczby binarne,  reszta to tekst, który nie wymaga tego zabiegu.  {{< /answer >}}</li>
<li>Przeanalizuj jak działa limitowanie do 5 połączeń, zwróć uwagę na pole free w strukturze i znaczenie znacznika ostatniego fragmentu przesyłanego przez klienta.</li>
</ol></div>
<hr/>
<h2>Przykładowe zadanie</h2>
<p class="cwiczenie">
Wykonaj przykładowe <a href="{{< ref "../l3-example">}}">ćwiczenie</a> z poprzednich lat. To zadanie szacuję na 60 minut, jeśli wyrobisz się w tym czasie to znaczy, że jesteś dobrze przygotowany/a  do zajęć. Pamiętaj, że w aktualnym układzie zajęć będzie dane zadnie na około 1,5 godziny, więc trochę bardziej pracochłonne.
</p>

<h2>Kody źródłowe z treści tutoriala</h2>
{{% codeattachments %}}
