<section class="codegrading">
<h2 id="zasady-oceniania-styl-kodu">Lab grading: code style</h2>
<p><strong>ATTENTION, this laboratory is graded in a different way, coding clarity and correctness is taken into account. Your codes will be checked after the class, see details below.</strong></p>
<p><em>Points distribution: 8 for entry test, 17 for the graded task and up to  10 negative points for coding correctness and style flaws.</em> What results in negative points:</p>
<ul>
<li>not checking for system and library functions errors</li>
<li>not released resources</li>
<li>functions longer than 40 lines</li>
<li>unjustified global variables</li>
<li>static numbers within the code that should be constants or variables</li>
<li>use of unsafe or obsolete functions like sprintf, gets, scanf with %s format (buffer overflow)</li>
<li>additionally if the program handles signals:
<ul>
  <li>lack of functions interrupted before they start restarting (EINTR)</li>
  <li>lack of function interrupted in the middle of processing restarting (sleep, nanosleep, read. write)</li>
  <li>program logic placed inside of signal handler, especially if this logic blocks the main code of the process for longer than necessary</li>
</ul></li>
</ul>
</section>
